#Example .env file 

#Backend
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL
SECRET_KEY= #generate for example using secrets.token_urlsafe(32)

#Frontend
BACKEND_API_URL=http://127.0.0.1:5000/api

#mail server
MAIL_SERVER=
MAIL_PORT=
MAIL_USE_TLS=
MAIL_USERNAME=
MAIL_PASSWORD=
